.restaurant-list-container{
    .search-container{
        display: flex;
        justify-content: center;
        margin: 1rem 0 1rem 0;
    }
    .restaurant-list-main-container{
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;
        justify-content: center;
        p-card{
            margin: 0.5rem;
            .p-card {
                .p-card-content{
                    padding: 0.25rem;
                }
            }
        }
    }
    .button-container{
        p-button{
            padding: 0 0.25rem 0 0.25rem;
        }
    }
}